# 현재 프로젝트에 필요한 .env key 모음 양식
OPENAI_API_KEY={{service api key}}
OPENWEATHER_API_KEY=
OPENAI_CHAT_MODEL=gpt-5.6-luna
OPENWEATHER_API_KEY=

# LangSmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="SKN33_Langchain"

# 웹 검색 Agent Tool API
TAVILY_API_KEY=